// All pages

.button-icon-first{
	max-width: 25px;
	margin-right: 10px;
}
.button-icon{
	max-width: 25px;
	margin-left: 10px;
}
.change-icons{
	max-width: 20px;
}
.edit-icon{
	max-width: 25px;
	margin-bottom: 30px;
}
.edit-icon:hover{
	opacity: .6;
}
.form-group{
	padding-top: 10px;
	padding-bottom: 10px;
}


// Home page styles

.home-page--outer-wrapper{
	min-height: calc(100vh - 166px);
}

#home-page--jumbotron{
    background: url("~robot-resistance-banner-2.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-right: 0px;
    padding-left: 0px;
}

.home-page--jumbotron-overlay{
	background-color: rgba(0,0,0,.5);
	height: 100%;
	width: 100%;
}
.home-page--jumbotron-title-text{
	color: white;
	font-size: 3em;
	padding-top: 100px;
	text-align: center;
}
.home-page--jumbotron-sub-title-text{
	color: white;
	text-align: center;
	font-size: 1.8em;
	padding-bottom: 100px;
}
.home-page--about-section{
	padding-top: 60px;
	padding-bottom: 30px;
}
.home-page--about-title{
	padding-bottom: 20px;
}
.home-page--about-sub-title{

}
.home-page--new-col-padding{
	padding-top: 30px;
}
.hero--img-home{
	max-width: 60px;
	padding-bottom: 10px;
}
.no-heroes{
	padding-bottom: 60px;
}
// Search Page Styles

.search-page--outer-wrapper{
	min-height: calc(100vh - 166px);
}
.search-form-title{
	text-align: center;
	h3{
		padding-top: 60px;
	}
	p{
		padding-top: 10px;
	}
	.note{
		font-size: 12px;
		font-style: italic;
	}
}
.search-title{
	text-align: center;
	padding-top: 60px;
    padding-bottom: 60px;
    .special-blue{
    	color: #0d6efd;
    }
}
#hero-results{
	display: none;
}
.search-form-container{
	padding-top: 0px;
	padding-bottom: 60px;
}
.btn-search{
	background-color: #3F729B !important;
	border: 1px solid #3F729B !important;
	color: white !important;
    float: right;
    min-width: 140px;
}
.btn-search:hover{
	background-color: #3F729B;
	text-decoration: none;
	opacity: .6;
	color: white;
}
.hero-result-wrapper{
	padding-bottom: 60px;
}
.hero--img{
	max-width: 100px;
	padding-bottom: 10px;
}
.hero-name{
	padding-top: 5px;
	padding-bottom: 5px;

}
.hero-description{
	font-size: 12px;
}
.add-hero-btn{
	background-color: #3F729B !important;
	border: 1px solid #3F729B !important;
	color: white !important;
    min-width: 140px;
}
.add-hero-btn:hover{
	background-color: #3F729B;
	text-decoration: none;
	opacity: .6;
	color: white;
}
.indi-hero-wrap{
	padding-bottom: 40px;
}