<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5">
      <div class="mx-auto mt-5">
        <%= form_with(url: search_path, method: 'get', local: true) do %>
          <div class="form-group">
            <%= label_tag :hero_name, 'Search for a hero'%>
            <%= text_field_tag :hero_name, nil, placeholder: 'Eg. Incredible Hulk', class: 'form-control' %>
          </div>
          <button class="btn btn-success btn-block" type="submit">Search</button>
        <% end %>
      </div>
    </div>
  </div>
</div>